*{
    padding: 0;
    margin: 0;
}

  /* navigation */
.main{
   padding: 10px 0px 10px 0px;
   background-color: #0c3c60;
   display: flex;
   position: sticky;
   top: 0;
   width: 100%;
}
.fa-bars{
    font-size: 25px;
    visibility: hidden;
}

.logo{
    width: 350px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.content{
    flex-grow: 2;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    
}
ul,li{
    list-style-type: none;
    display: flex;
    padding: 0px 30px 0px 30px;
}
a{
    color: white;
    text-decoration: none;
}
@media (max-width: 1252px){
    li{
       display: none;
    }
    .fa-bars{
        visibility: visible;
    }
    .content{
        display: flex;
        justify-content: flex-end;
    }

}
/* image*/
.image{
    height: 500px;
    background-color: aqua;
    background-image: url(hiker-going-up-aiguille-du-midi\ -\ Copy.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}
.box{
    height: auto;
    width: 800px;
    background-color: white;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.up{
    height: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down{
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #0c3c60;
    text-align: center;
}
.last{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    border: 1px solid #0c3c60;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color:  #0c3c60;
}

.button:hover{
        color: white;
        background-color: #0c3c60;
        transition-duration: 1s;
    }
.box2{
   height: auto;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
   flex-wrap: wrap;
}
.container{
    height: auto;
    width: 300px;
    padding: 10px;
}
.header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paragraph{
    height: auto;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    text-align: justify;
    text-align-last: center;
    font-weight: 200px;
}
.lastest{
    height: 100px;
    display: flex;
   align-items: center;
    justify-content: center;
}
.box3{
    height: auto;
    width: 100%;
    background-color: blueviolet;
    margin-top: 100px;
    background-image: url(breathtaking-shot-beautiful-stones-turquoise-water-lake-hills-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;

}
.box4{
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.box5{
    height: auto;
    width: 50%;
    text-align: justify;
    text-align-last:center ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section1{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2{
    height: auto;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section3{
    height: auto;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.client{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.company1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
}
.company2{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.company3{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.img{
    object-fit: contain;
}
.more{
    height: auto;
    max-width: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    flex-wrap: wrap;
}
.test{
    height: auto;
    padding: 30px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.monial{
    height: auto;
     display: flex;
     justify-content: center;
     padding-top: 50px;
}
.mn{
    height: auto;
    width: 50%;
    font-size: 20px;
}
.ail{
    height: auto;
    padding-top: 50px;
    display: flex;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    flex-direction: column;
    color: #0c3c60;
    align-items: center;
    
}
.pp{
    color: black;
    font-size: 15px;
}
/* form*/
.form {
    height: auto;
    width: auto;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.lowerr {
    height: auto;
    width: 800px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0c3c60;
}
 .space{
    width: 100%;
    display: flex;
    justify-content: space-around;

 }

 .neft{
    padding: 10px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;

 }
 .bell{
    padding: 10px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
 
 }

 .inputs{
    margin-top: 30px;
    color: white;
    width: 95%;
    border: none;
    background-color:  #0c3c60;
    border-bottom: 1px solid white;
    outline: none;
 }
 .text{
    width: 90%;

 }
 .text2{
    width: 20%;
 }

 .laast{
    color: white;
 }


 @media (max-width: 700px){
    .space{
        width: 100%;
        flex-direction: column;
    }
    
 }

 /* footer */

.footer{
    height: auto;
    background-color: #0c3c60;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
.foot1{
    height: auto;
    width: 20%;
    color: white;
    line-height: 30px;
    flex-wrap: wrap;
    display: flex;
}
.xyz{
    color: white;
}
.pal{
    flex-direction: column;
}
.foot3{
    height: auto;
    width: 20%;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
}
.fa-brands{
    font-size: 20px;
    padding-left: 40px;
}
